<table class='table'>
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image, size: '50x50' %></td>
        <td><%= customer.name %></td>
        <td>フォロー数: <%= customer.followings.count %></td>
        <td>フォロワー数: <%= customer.followers.count %></td>
        <td>
          <% unless current_customer == customer %>
          <% if current_customer.following?(customer) %>
           <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete %>
          <% else %>
           <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
          <% end %>
          </td>
         <% end %>
        <td><%= link_to 'Show', customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
