<table class="table table-hover table-inverse">
  <% if @range == "Customer" %>
  <h2>会員検索 "<%= @word %>"</h2>
  <thead>
  <th>画像</th>
      <th>名前</th>
      <th>自己紹介</th>
      <th colspan="3"></th>
      </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image, size:'100x100' %></td>
          <td><%= customer.name %></td>
          <td><%= customer.introduction %></td>
        </tr>
      <% end %>
      
    </tbody>
  <% else %>
  <h2>レビュー検索 "<%= @word %>"</h2>
  <thead>
    <tr></tr>
      <th></th>
      <th>映画タイトル</th>
      <th>レビュー</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= image_tag review.customer.get_profile_image, size:'50x50' %></td>
          <td><%= link_to review.title,review %></td>
          <td><%= review.review %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>