<%= render 'layouts/search' %>
 <%= render 'layouts/genre' %>
<div class='container'>
 <div class='row'>
  <div class="col-md-12 col-md-offset-1 mx-auto mt-3">
   <table class="table table-hover table-inverse">
    <% if @range == "Customer" %>
    <h2>会員検索 "<%= @word %>"</h2>
    <%= render 'customer', customers: @customers %>
   <% else %>
   <h2>レビュー検索 "<%= @word %>"</h2>
    <%= render 'review', review: @reviews %>
    <% end %>
    </table>
  </div>
 </div>
</div>