

<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-1 mx-auto mt-3">
      <h3>レビュー管理一覧</h3>
       <table class="table">
        <thead>
          <th class="table-active">投稿日時</th>
          <th class="table-active">会員</th>
          <th class="table-active">映画</th>
          <th class="table-active">ジャンル</th>
          <th class="table-active">レビュー</th>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
           <tr>
              <!--投稿日時-->
              <td class = "align-middle link">
               <%= link_to admin_review_path(review),data: {"turbolinks"=>false} do %>
                 <%= review.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
               <% end %>
              </td>
              <!--会員-->
              <td class = "align-middle">
               <%= review.customer.name %>
              </td>
              <!--映画-->
              <td class = "align-middle">
               <%= review.title %>
              </td>
              <!--ジャンル-->
              <td class = "align-middle">
               <%= review.genre.name %>
              <!--レビュー-->
              <td class = "align-middle">
               <%= review.introduction %>
              </td>
           </tr>
               <% end %>
          </tbody>
       </table>
     <%= paginate @reviews %>
   </div>
  </div>
 </div>

