 <%= render 'layouts/search' %>
 <%= render 'layouts/genre' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-1 mx-auto mt-3">
      <h2>レビュー情報</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@review.customer) do %>
            <%= image_tag @review.customer.get_profile_image, size:"100x100" %><br>
            <%= @review.customer.name %>
            <% end %>
          </td>
          <td><%= link_to @review.title, @review %></td>
          <td><%= @review.genre.name %></td>
          <td><%= @review.review %></td>
            <% if @review.customer == current_customer %>
            <td><%= link_to '編集', edit_review_path(@review), class: "btn btn-sm btn-success" %></td>
            <% end %>

            <% if @review.customer == current_customer %>
            <td><%= link_to '削除', @review, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
            <td>コメント数：<%= render "public/comments/count" ,  review: @review %></td>
        </tr>
      </table>

      <div id="comments">
       <%= render "public/comments/show" , { review: @review , comment: @comment } %><br>
     </div>

      <div id="comment_forms">
       <%= render "public/comments/form" , { review: @review , comment: @comment } %>
     </div>
    </div>
  </div>
</div>
